<div class="listtable-div" id="listtable-sysplugin" onmouseover="ListTable.init(this.id,'modules/sys/sysplugin.php','?act=list');">
    <div class="listtable-data" style="border-bottom:0;border-top:0;">
        <table onmouseover="TableAct.moveHiLight(this);TableAct.choiceHiLight(this);">
        <tr>
            <th width="20%">组件名称</th>
            <th width="12%">组件版本</th>
            <th width="12%">组件类型</th>
            <th width="48%">组件目录</th>
            <th>安装</th>
        </tr>
        <?php if( !empty($tpl['list']['data']) ){?>

            <?php foreach( $tpl['list']['data'] AS $r ){?>

                <?php if( empty($r['errors']) ){?>
                <tr align="center">
                    <td><?php e($r['title'],'html'); ?></td>
                    <td><?php e($r['ver'],'html'); ?></td>
                    <td><?php e($r['type'],'html'); ?></td>
                    <td align="left" onmousemove="tagtitle(event,'<?php e($r['fdpath'],'hstr'); ?>')"><?php e($r['fdpath'],'html'); ?></td>
                    <td><span class="<?php echo $r['installed'] ? 'yes' : 'no' ?>"></span></td>
                </tr>

                <?php }else{ ?>
                <tr>
                    <td colspan="5">
                        <div style="border:1px solid #A00;padding:1px 0 0;">
                            <table>
                            <tr align="center" style="background:#FFFCC1">
                                <td width="20%"><?php e($r['title'],'html'); ?></td>
                                <td width="12%"><?php e($r['ver'],'html'); ?></td>
                                <td width="12%"><?php e($r['type'],'html'); ?></td>
                                <td width="48%" align="left" onmousemove="tagtitle(event,'<?php e($r['fdpath'],'hstr'); ?>')"><?php e($r['fdpath'],'html'); ?></td>
                                <td><span class="<?php echo $r['installed'] ? 'yes' : 'no' ?>"></span></td>
                            </tr>
                            </table>

                            <div style="color:#900;padding:5px 0 5px 5px;line-height:130%;background:#FFFCC1;">
                                <?php foreach( $r['errors'] AS $i=>$error ){?>
                                <?php e(($i+1).'. '.$error,'html'); ?><br />
                                <?php }?>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php }?>
            <?php }?>

        <?php }else{?>
        <tr>
            <td colspan="5"><div class="warn-div"><span>无组件</span></div></td>
        </tr>
        <?php }?>
        </table>


        <div class="listtable-footer">
            <?php if( !empty($tpl['list']['data']) ){?>
            <div class="pager"><?php echo $tpl['list']['pager']['html']; ?></div>
            <?php }?>
        </div>

    </div>
</div>